.game_info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}


.game_title,
.game_console {
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
  transition: all;
}

.game_title:hover,
.game_console:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}
