.info_game_container {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  padding: 0 6rem;
}

.more_info_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game_description {
  text-wrap: balance;
}

.img_cover_game_info {
  width: 100%;
}
